.cart {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    &__title {
        margin: 20px;
        font-weight: 600;
        font-size: 24px;
    }
    &__btn {
        margin-bottom: 20px;
        border: none;
        border-radius: 28px;
        width: 245px;
        height: 55px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #fff;
        background-color: #9DD458;
        cursor: pointer;
    }
}